@media only screen and (min-width: 320px) and (max-width: 480px) {
    #menu {
        flex-direction: column;
        align-items: center;
    }
    #side-menu {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    #side-menu {
        background-color: lightcoral;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 9px;
}
}

#menu {
    list-style: none;
    background-color: orange;
    color: antiquewhite;
    display: flex;
}

#menu li {
    margin: 10px;
    font-size: 14pt;
}

#featured {
    background-color: lightblue;
    padding: 10px;
}


#side-menu-plus-featured {
    display: flex;
}
#authors {
    display: flex;
}
#authors img {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 200px;
}